<section class ='advantages'>
  <div class="container">
    <div class="advantages__wrapper">
      <div class="advantages__picture">
        <img class="advantages__picture-img" src="img/advantages/advantages.png" alt="">
      </div>
      <div class="advantages__content">
        <div class="advantages__content-wrapper">
          <div class="advantages__content-title">
            <h3>Powering your comunicaiton<br>
              from anywhere world.</h3>
          </div>
          <div class="advantages__content-text">
            We're here to help you connect, communicate,and express your ideas so you can get more done of together. We're proud to be trusted by millions  enterprises
          </div>
          <div class="advantages__content-info">
            <ul class="advantages__content-list">
              <li class = 'advantages__content-list-item'>Faster than ever</li>
              <li class = 'advantages__content-list-item'>Bosts post-metting productivity</li>
              <li class = 'advantages__content-list-item'>Enables stronger relationships</li>
            </ul>
          </div>
          <div class="advantages__content-links">
            <a class ='advantages__content-links-link' href="#">Start Free trail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>