<section class = 'banner'>
<div class="container">
  <div class="banner__wrapper">
    <div class="banner__content">
      <div class="banner__content-title">
        <h3>The best video online
          meeting software.</h3>
      </div>
      <div class="banner__content-text">
        Many desktop publishing packages and web page editors<br>now use Lorem Ipsum as their default
      </div>
      <div class="banner__content-nav">
        <a class = 'banner__content-link' href="#">Start for free</a>
      </div>
    </div>
    <div class="banner__picture">
      <img class = 'banner__img' src="../../img/banner/banner-img.png" alt="">
    </div>
  </div>
</div>
</section>