<section class = 'collaborations'>
  <div class="container">
    <div class="collaborations__wrapper">
      <div class="collaborations__content">
        <div class="collaborations__content-wrapper">
        <div class="collaborations__content-title">
          <h3>Collaborate 2M+ startup
            and international companies
            ueses since 2018</h3>
        </div>
        <div class="collaborations__content-info">
          <div class="collaborations__content-downloads">
            <div class="collaborations__content-downloads-title">
              15k
            </div>
            <div class="collaborations__content-downloads-likes">
              <img src="img/collaborations/collaborations-like.svg" alt="">
              <img src="img/collaborations/collaborations-like.svg" alt="">
              <img src="img/collaborations/collaborations-like.svg" alt="">
              <img src="img/collaborations/collaborations-like.svg" alt="">
              <img src="img/collaborations/collaborations-like.svg" alt="">
            </div>
            <div class="collaborations__content-downloads-text">
              Active Downloads
            </div>
          </div>
          <div class="collaborations__content-raiting">
            <div class="collaborations__content-raiting-title">
              4.9
            </div>
            <div class="collaborations__content-raiting-stars">
              <img src="img/collaborations/collaborations-star.svg" alt="">
              <img src="img/collaborations/collaborations-star.svg" alt="">
              <img src="img/collaborations/collaborations-star.svg" alt="">
              <img src="img/collaborations/collaborations-star.svg" alt="">
              <img src="img/collaborations/collaborations-star.svg" alt="">
            </div>
            <div class="collaborations__content-raiting-text">
              2,938 Rating
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="collaborations__partners">
        <img src="img/collaborations/collaborations-airbnb.svg" alt="">
        <img src="img/collaborations/collaborations-hubspot.svg" alt="">
        <img src="img/collaborations/collaborations-google.svg" alt="">
        <img src="img/collaborations/collaborations-Microsoft.svg" alt="">
        <img src="img/collaborations/collaborations-Walmart.svg" alt="">
        <img src="img/collaborations/collaborations-FedEx.svg" alt="">
    </div>

    </div>
  </div>
</section>