<section class = 'comment'>
  <div class="container">
    <div class="comment__wrapper">
      <div class="comment__content">
        <div class="comment__content-wrapper">
          <div class="comment__content-title">
            <h3>Testimonial</h3>
          </div>
          <div class="comment__content-text">
            <i>Here are many variations of passag Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words don't look even slightly believable.</i>
          </div>
          <div class="comment__content-info">
            Cris Gayle<br><span>Manager</span>
          </div>
        </div>
      </div>
      <div class="comment__picture">
        <img class = 'comment__img' src="img/comment/comment-img.png" alt="">
      </div>
    </div>
  </div>
</section>