<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a class = 'header__logo-img' href="/">metting</a>
        
      </div>
      <div class="header__nav">
        <ul class = 'header__nav-menu'>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#"> Home</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#">Feature</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#">Pricing</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#">Solution</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#">Faq</a></li>
        </ul>
        <div class="header__links">
          <a class = 'header__links-item' href="#">Sign in</a>
          <a class = 'header__links-item' href="#">Download</a>
        </div>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
