<section class = 'prices'>
<div class="container">
  <div class="prices__wrapper">
<div class="prices__content">
  <div class="prices__content-wrapper">
    <div class="prices__content-title">
      <h3>Flexible Pricing  Plan</h3>
    </div>
    <div class="prices__content-text">
      We are familiar with offline speed dating flow so we designed out online
platform considering all the requirements
    </div>
    <div class="prices__content-links">
      <a class = 'prices__content-link' href="#">Annually</a>
      <a class = 'prices__content-link' href="#">Monthly</a>
    </div>
  </div>
</div>
<div class="prices__items">
  <div class="prices__items-wrapper">
    <div class="prices__items-item">
      <div class="prices__items-item-wrapper">
      <div class="prices__items-title">
        Basic
      </div>
      <div class="prices__items-price">
        Free
      </div>
      <div class="prices__items-info">
        <ul class="prices__items-list">
          <li class="prices__items-list-item">10 users one time</li>
          <li class="prices__items-list-item">Secure conversation</li>
          <li class="prices__items-list-item">Screen sharing</li>
          <li class="prices__items-list-item">Desktop & mobile access</li>
          <li class="prices__items-list-item">40 minute limit metting</li>
          <li class="prices__items-list-item">Screen Recording</li>
          <li class="prices__items-list-item">Single Sign-on</li>
        </ul>
      </div>
      <div class="prices__items-links">
        <a class ='prices__items-link' href="#">Start Free trial</a>
      </div>
    </div>
    </div>
    <div class="prices__items-item">
      <div class="prices__items-item-wrapper">
      <div class="prices__items-title">
        Pro
      </div>
      <div class="prices__items-price">
        $49<span>/mo</span>
      </div>
      <div class="prices__items-info">
        <ul class="prices__items-list">
          <li class="prices__items-list-item">50 users one time</li>
          <li class="prices__items-list-item">Secure conversation</li>
          <li class="prices__items-list-item">Screen sharing</li>
          <li class="prices__items-list-item">Desktop & mobile access</li>
          <li class="prices__items-list-item">40 minute limit metting</li>
          <li class="prices__items-list-item">Screen Recording</li>
          <li class="prices__items-list-item">Single Sign-on</li>
        </ul>
      </div>
      <div class="prices__items-links">
        <a class ='prices__items-link' href="#">Start Free trial</a>
      </div>
    </div>
    </div>
    <div class="prices__items-item">
      <div class="prices__items-item-wrapper">
      <div class="prices__items-title">
        Business
      </div>
      <div class="prices__items-price">
        $99<span>/mo</span>
      </div>
      <div class="prices__items-info">
        <ul class="prices__items-list">
          <li class="prices__items-list-item">100 users one time</li>
          <li class="prices__items-list-item">Secure conversation</li>
          <li class="prices__items-list-item">Screen sharing</li>
          <li class="prices__items-list-item">Desktop & mobile access</li>
          <li class="prices__items-list-item">40 minute limit metting</li>
          <li class="prices__items-list-item">Screen Recording</li>
          <li class="prices__items-list-item">Single Sign-on</li>
        </ul>
      </div>
      <div class="prices__items-links">
        <a class ='prices__items-link' href="#">Start Free trial</a>
      </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</section>