<section class="second-banner">
  <div class="container">
    <div class="second-banner__wrapper">
      <div class="second-banner__content">
        <div class="second-banner__content-wrapper">
        <div class="second-banner__content-title">
          Integrate with your outlook<br>
or gmail calendar
        </div>
        <div class="second-banner__content-text">
          We're here to help you connect, communicate,and express your ideas so you can get more done of together. We're proud to be trusted by millions  enterprises, small businesses, and individuals, just like you.
        </div>
        <div class="second-banner__content-links">
          <a class = 'second-banner__content-link' href="#">Start for free</a>
        </div>
      </div>
      </div>
      <div class="second-banner__content-pictures">
        <img  class = 'second-banner__content-img' src="img/second-banner/second-banner-img.png" alt="">
      </div>
    </div>
  </div>
</section>