<section class = 'special-features'>
  <div class="container">
    <div class="special-features__wrapper">
      <div class="special-features__main-title">
        <h3>Our Special Features</h3>
      </div>
      <div class="special-features__text">
        We are familiar with offline speed dating flow so we designed out online
platform considering all the requirements
      </div>
      <div class="special-features__items">
        <div class="special-features__items-wrapper">
          <div class="special-features__item">
            <div class="special-features__item-pictures">
              <img class = 'special-features__item-img' src="img/special-features/special-features-3.svg" alt="">
            </div>
            <div class="special-features__item-title">
              Affordable Pricing
            </div>
            <div class="special-features__item-text">
              A dictionary of over 200 Latin words,with
a handful of model sentence. structures, to generate Lorem Ipsum
            </div>
            <div class="special-features__item-links">
              <a class = 'special-features__item-link' href="#">Learn more</a>
            </div>
          </div>
          <div class="special-features__item">
            <div class="special-features__item-pictures">
              <img class = 'special-features__item-img' src="img/special-features/special-features-2.svg" alt="">
            </div>
            <div class="special-features__item-title">
              Seamless Reliability
            </div>
            <div class="special-features__item-text">
              A dictionary of over 200 Latin words,with
a handful of model sentence. structures, to generate Lorem Ipsum
            </div>
            <div class="special-features__item-links">
              <a class = 'special-features__item-link' href="#">Learn more</a>
            </div>
          </div>
          <div class="special-features__item">
            <div class="special-features__item-pictures">
              <img class = 'special-features__item-img' src="img/special-features/special-features-1.svg" alt="">
            </div>
            <div class="special-features__item-title">
              Secure Collaboration
            </div>
            <div class="special-features__item-text">
              A dictionary of over 200 Latin words,with
a handful of model sentence. structures, to generate Lorem Ipsum
            </div>
            <div class="special-features__item-links">
              <a class = 'special-features__item-link' href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>