
.collaborations {
  // .collaborations__wrapper
  &__wrapper {
    padding-top: 122px;
    
  }
  // .collaborations__content
  &__content {
   
    
  }
  // .collaborations__content-wrapper
  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and 
    (max-width:991px){
     flex-direction: column;
    }
  }
  // .collaborations__content-title
  &__content-title {
    font-family: 'Inter';
font-weight: 600;
font-size: 36px;
line-height: 50px;
color: #18216D;
width: 100%;
max-width: 520px;
  }
  // .collaborations__content-info
  &__content-info {
    display: flex;
    align-items: center;
    gap: 93px;
    @media screen and 
    (max-width:768px){
     padding-top: 30px;
    }
  }
  // .collaborations__content-downloads
  &__content-downloads {
    max-width: 137px;
  }
  // .collaborations__content-downloads-title
  &__content-downloads-title {
    font-family: 'Inter';
font-weight: 700;
font-size: 60px;
line-height: 70px;
letter-spacing: -1px;
color: #18216D;
  }
  // .collaborations__content-downloads-likes
  &__content-downloads-likes {
  }
  // .collaborations__content-downloads-text
  &__content-downloads-text {
    font-family: 'Inter';
font-size: 16px;
line-height: 28px;
color: #18216D;
  }
  // .collaborations__content-raiting
  &__content-raiting {
  }
  // .collaborations__content-raiting-title
  &__content-raiting-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #18216D;
    
  }
  // .collaborations__content-raiting-stars
  &__content-raiting-stars {
  }
  // .collaborations__content-raiting-text
  &__content-raiting-text {
    font-family: 'Inter';
font-size: 16px;
line-height: 28px;
color: #18216D;
  }
  .collaborations__partners {
    padding-top: 49px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
   
    
  }
  .collaborations__partners img:nth-child(5) {
    @media screen and 
    (max-width:480px){
     display: none;
    }
  }
  .collaborations__partners img:nth-child(6) {
    @media screen and 
    (max-width:480px){
     display: none;
    }
  }
  }
  .container {
  }
  